# Project
*/lib/*
*/build/*
grid/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
*.tar.gz
*.root
*.slcio
ilc-user-a-amaier*
data
*.pdf
dump.txt
analysis/tex/*.tex

# Python
*__pycache__*
*.pyc
*.pyo
*.bak

# Latex
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.dep


# Linux
*.__afs*
